@media (max-width:$screen-md-min) {
    .toggle-menu {
        background-color: $secondary;
        border: $border-width $border-style-solid lighten($secondary , 20%);
        border-radius: $border-radius--px;
        padding: 1rem 1.25rem;
        @include position-ab-y-center;
        left: 1rem;
        z-index: 1;
    }

    .toggle-menu span {
        content: '';
        background-color: $white;
        height: 2px;
        @include position-ab-center;
        transition: $transition-base;
        width: 26px;
    }

    .toggle-menu span:before,
    .toggle-menu span:after {
        content: '';
        background-color: $white;
        height: 2px;
        position: absolute;
        width: 26px;
    }

    .toggle-menu span:before {
        top: 7px;
    }

    .toggle-menu span:after {
        top: -7px;
    }

    .toggle-menu.active span {
        background-color: transparent;
        transition: $transition-base;
    }

    .toggle-menu.active span:before,
    .toggle-menu.active span:after {
        top: 0;
        transition: $transition-base;
    }

    .toggle-menu.active span:before {
        transform: rotate3d(0, 0, 1, -45deg);
    }

    .toggle-menu.active span:after {
        transform: rotate3d(0, 0, 1, 45deg);
    }

}

/*--    Headers    ===================*/
#header {
    z-index: 99
}

#header .header {
    background-color: $white;
    box-shadow: $header-box-shadow;
    height: 3.75rem;
}

.header-left {
    float: left;
    height: 3.75rem;
    width: 16.625rem;
}

.header-logo {
    @include position-ab-center;
}

.header-right {
    display: inline-block;
    font-size: 0;
    text-align: center;
    width: calc(100% - 16.625rem);
}

.header-right a {
    font-size: $font-size-sm;
}

@media all and (max-width:992px) {
    .header-left {
        width: 100%
    }

    .header-right {
        display: none
    }

}

/*--    Header Search    ===================*/
.searchlist,
.search-bar-box,
.search-bar-box .search-bar {
    display: inline-block;
    vertical-align: middle;
}

.searchlist {
    text-align: center;
    height: 3.75rem;
    width: 5.125rem;
}

#searchLog {
    line-height: 3.75rem;
}

#searchLog>i {
    margin-left: .25rem;
}

#searchLogCnt {
    border-radius: 2px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 3rem;
    width: 22rem;
    z-index: 2;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
    background-color: #fff;
    border: 1px solid #e9eef1;
    border-radius: 4px;
    display: none;
}

/* #searchLogCnt:before {
    content: '';
    border: .5rem solid transparent;
    border-bottom-color: #72828A;
    font-size: .875rem;
    border-top-width: 0;
    position: absolute;
    left: 1.75rem;
    top: -.5625rem;
} */

#searchLogCnt .search-log-title {
    background-color: #72828A;
    border-radius: 4px 4px 0 0 ;
    color: #fff;
    font-size: .875rem;
    font-weight: bolder;
    padding: .75rem 1.25rem;
    width: 100%;
}

#searchLogCnt .search-log-title .close-btn {
    color: #fff;
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);

}
#searchLogCnt .search-log-title .close-btn i{
    font-size: 1rem;
}
#searchLogCnt .search-log-content {
    padding: .75rem 1.25rem;
}
#searchLogCnt .search-log-content ul {
    margin-bottom: .75rem;
}

#searchLogCnt .search-log-content li {
    padding: .25rem 0
}

#searchLogCnt .search-log-content li a {
    text-decoration: none
}

#searchLogCnt .search-log-content li a:not(:last-child):after {
    content: 'ã€';
    color: #233138;
    cursor: auto;
}

#searchLogCnt .search-log-content .type {
    border-left: 3px solid #dce8f1;
    color: #72828a;
    padding-left: .375rem;
    padding-right: 1.5rem;
    font-size: 0.8125rem
}

#searchLogCnt .search-log-content .type:after {
    content: '';
    background-color: #bfc3c7;
    width: .75rem;
    height: 1px;
    position: absolute;
    top: 50%;
    right: .375rem;
}

#searchLogCnt .search-log-footer {
    border-top: 1px dotted #dfe6e9;
    text-align: right;
    padding-top: .75rem;
}

.search-bar-box {
    padding: 0 .5rem;
    width: calc(100% - 5.125rem);
}

.search-bar-box .search-bar {
    background-color: rgba(129, 167, 205, 0.12);
    border: 1px solid rgba(129, 167, 205, 0.06);
    border-radius: 4px;
    padding: .25rem .5rem;
    height: 2.875rem;
    width: 100%;
}

.search-bar i {
    position: absolute;
    left: .5rem;
    top: .5rem;
    color: #0E86D4;
    font-size: 1.5rem;
    opacity: .4;
    transition: .5s;
}

.search-bar input {
    width: 100%;
    height: 38px;
    line-height: 0
}

.search-bar input[type="text"] {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: .8125rem;
    padding: 0 0 0 40px;
}
.search-bar input[type="text"]:focus {
    background: transparent;
    border: none;
    box-shadow: none;
}
.search-bar input[type="text"]:focus+.search-icon {
    opacity: 1;
}

.search-bar .right-border {
    background: rgba(129, 167, 205, 0.06);
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
}

@media all and (max-width:992px) {
    .search-bar input[type="text"] {
        padding: 0 0 0 28px;
    }

}

@media all and (max-width:768px) {
    .searchlist,
    .search-bar-box .search-bar {
        display: none
    }

}

.page-header-title {
    background-color: #fff;
    border-bottom: #68BBE3 4px solid;
    margin-bottom: 1rem;
    outline: 1px #D9EDF7 solid;
    padding: 1rem 1.5rem;
    display: table;
    width: 100%
}

.page-header-title h1,
.page-header-title .header-title-txt {
    display: table-cell;
    vertical-align: middle
}

.page-header-title h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    white-space: pre;
}

.page-header-title h1 > i {
    color: #A7B1B6;
    font-size: .75rem;
    margin-left: .75rem;
}

.page-header-title .header-title-txt {
    color: #72828A;
    font-size: .875rem;
    padding-left: 1rem;
    width: 100%;
}

