.no-margin {
    margin: 0 !important
}

.margin-4 {
    margin: ($default-num * .25) !important
}

.margin-8 {
    margin: ($default-num * .5) !important
}

.margin-12 {
    margin: ($default-num * .75) !important
}

.margin-16 {
    margin: $default-num !important
}

.margin-20 {
    margin: ($default-num * 1.25) !important
}

.margin-24 {
    margin: ($default-num * 1.5) !important
}

.margin-28 {
    margin: ($default-num * 1.75) !important
}

.margin-32 {
    margin: ($default-num * 2) !important
}

.margin-36 {
    margin: ($default-num * 2.25) !important
}

.margin-40 {
    margin: ($default-num * 2.5) !important
}

.margin-44 {
    margin: ($default-num * 2.75) !important
}

.margin-48 {
    margin: ($default-num * 3) !important
}

.margin-60 {
    margin-top: ($default-num * 3.75) !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-4 {
    margin-top: ($default-num * .25) !important
}

.mt-8 {
    margin-top: ($default-num * .5) !important
}

.mt-12 {
    margin-top: ($default-num * .75) !important
}

.mt-16 {
    margin-top: $default-num !important
}

.mt-20 {
    margin-top: ($default-num * 1.25) !important
}

.mt-24 {
    margin-top: ($default-num * 1.5) !important
}

.mt-28 {
    margin-top: ($default-num * 1.75) !important
}

.mt-32 {
    margin-top: ($default-num * 2) !important
}

.mt-36 {
    margin-top: ($default-num * 2.25) !important
}

.mt-40 {
    margin-top: ($default-num * 2.5) !important
}

.mt-44 {
    margin-top: ($default-num * 2.75) !important
}

.mt-48 {
    margin-top: ($default-num * 3) !important
}

.mt-60 {
    margin-top: ($default-num * 3.75) !important
}

.mr-0 {
    margin-right: 0 !important
}

.mr-4 {
    margin-right: ($default-num * .25) !important
}

.mr-8 {
    margin-right: ($default-num * .5) !important
}

.mr-12 {
    margin-right: ($default-num * .75) !important
}

.mr-16 {
    margin-right: $default-num  !important
}

.mr-20 {
    margin-right: ($default-num * 1.25) !important
}

.mr-24 {
    margin-right: ($default-num * 1.5) !important
}

.mr-28 {
    margin-right: ($default-num * 1.75) !important
}

.mr-32 {
    margin-right: ($default-num * 2) !important
}

.mr-36 {
    margin-right: ($default-num * 2.25) !important
}

.mr-40 {
    margin-right: ($default-num * 2.5) !important
}

.mr-44 {
    margin-right: ($default-num * 2.75) !important
}

.mr-48 {
    margin-right: ($default-num * 3) !important
}

.mr-60 {
    margin-right: ($default-num * 3.75) !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-4 {
    margin-bottom: ($default-num * .25) !important
}

.mb-8 {
    margin-bottom: ($default-num * .5) !important
}

.mb-12 {
    margin-bottom: ($default-num * .75) !important
}

.mb-16 {
    margin-bottom: $default-num  !important
}

.mb-20 {
    margin-bottom: ($default-num * 1.25) !important
}

.mb-24 {
    margin-bottom: ($default-num * 1.5) !important
}

.mb-28 {
    margin-bottom: ($default-num * 1.75) !important
}

.mb-32 {
    margin-bottom: ($default-num * 2) !important
}

.mb-36 {
    margin-bottom: ($default-num * 2.25) !important
}

.mb-40 {
    margin-bottom: ($default-num * 2.5) !important
}

.mb-44 {
    margin-bottom: ($default-num * 2.75) !important
}

.mb-48 {
    margin-bottom: ($default-num * 3) !important
}

.mb-60 {
    margin-bottom: ($default-num * 3.75) !important
}

.ml-0 {
    margin-left: 0 !important
}

.ml-4 {
    margin-left: ($default-num * .25) !important
}

.ml-8 {
    margin-left: ($default-num * .5) !important
}

.ml-12 {
    margin-left: ($default-num * .75) !important
}

.ml-16 {
    margin-left: $default-num  !important
}

.ml-20 {
    margin-left: ($default-num * 1.25) !important
}

.ml-24 {
    margin-left: ($default-num * 1.5) !important
}

.ml-28 {
    margin-left: ($default-num * 1.75) !important
}

.ml-32 {
    margin-left: ($default-num * 2) !important
}

.ml-36 {
    margin-left: ($default-num * 2.25) !important
}

.ml-40 {
    margin-left: ($default-num * 2.5) !important
}

.ml-44 {
    margin-left: ($default-num * 2.75) !important
}

.ml-48 {
    margin-left: ($default-num * 3) !important
}

.ml-60 {
    margin-left: ($default-num * 3.75) !important
}