
.no-padding {
    padding: 0 !important
}

.padding-4 {
    padding: ($default-num * .25) !important
}

.padding-8 {
    padding: ($default-num * .5) !important
}

.padding-12 {
    padding: ($default-num * .75) !important
}

.padding-16 {
    padding: $default-num !important
}

.padding-20 {
    padding: ($default-num * 1.25) !important
}

.padding-24 {
    padding: ($default-num * 1.5) !important
}

.padding-28 {
    padding: ($default-num * 1.75) !important
}

.padding-32 {
    padding: ($default-num * 2) !important
}

.padding-36 {
    padding: ($default-num * 2.25) !important
}

.padding-40 {
    padding: ($default-num * 2.5) !important
}

.padding-44 {
    padding: ($default-num * 2.75) !important
}

.padding-48 {
    padding: ($default-num * 3) !important
}

.padding-60 {
    padding: ($default-num * 3.75) !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-4 {
    padding-top: ($default-num * .25) !important
}

.pt-8 {
    padding-top: ($default-num * .5) !important
}

.pt-12 {
    padding-top: ($default-num * .75) !important
}

.pt-16 {
    padding-top: $default-num !important
}

.pt-20 {
    padding-top: ($default-num * 1.25) !important
}

.pt-24 {
    padding-top: ($default-num * 1.5) !important
}

.pt-28 {
    padding-top: ($default-num * 1.75) !important
}

.pt-32 {
    padding-top: ($default-num * 2) !important
}

.pt-36 {
    padding-top: ($default-num * 2.25) !important
}

.pt-40 {
    padding-top: ($default-num * 2.5) !important
}

.pt-44 {
    padding-top: ($default-num * 2.75) !important
}

.pt-48 {
    padding-top: ($default-num * 3) !important
}

.pt-60 {
    padding-top: ($default-num * 3.75) !important
}

.pr-0 {
    padding-right: 0 !important
}

.pr-4 {
    padding-right: ($default-num * .25) !important
}

.pr-8 {
    padding-right: ($default-num * .5) !important
}

.pr-12 {
    padding-right: ($default-num * .75) !important
}

.pr-16 {
    padding-right: $default-num !important
}

.pr-20 {
    padding-right: ($default-num * 1.25) !important
}

.pr-24 {
    padding-right: ($default-num * 1.5) !important
}

.pr-28 {
    padding-right: ($default-num * 1.75) !important
}

.pr-32 {
    padding-right: ($default-num * 2) !important
}

.pr-36 {
    padding-right: ($default-num * 2.25) !important
}

.pr-40 {
    padding-right: ($default-num * 2.5) !important
}

.pr-44 {
    padding-right: ($default-num * 2.75) !important
}

.pr-48 {
    padding-right: ($default-num * 3) !important
}

.pr-60 {
    padding-right: ($default-num * 3.75) !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-4 {
    padding-bottom: ($default-num * .25) !important
}

.pb-8 {
    padding-bottom: ($default-num * .5) !important
}

.pb-12 {
    padding-bottom: ($default-num * .75) !important
}

.pb-16 {
    padding-bottom: $default-num !important
}

.pb-20 {
    padding-bottom: ($default-num * 1.25) !important
}

.pb-24 {
    padding-bottom: ($default-num * 1.5) !important
}

.pb-28 {
    padding-bottom: ($default-num * 1.75) !important
}

.pb-32 {
    padding-bottom: ($default-num * 2) !important
}

.pb-36 {
    padding-bottom: ($default-num * 2.25) !important
}

.pb-40 {
    padding-bottom: ($default-num * 2.5) !important
}

.pb-44 {
    padding-bottom: ($default-num * 2.75) !important
}

.pb-48 {
    padding-bottom: ($default-num * 3) !important
}

.pb-60 {
    padding-bottom: ($default-num * 3.75) !important
}

.pl-0 {
    padding-left: 0 !important
}

.pl-4 {
    padding-left: ($default-num * .25) !important
}

.pl-8 {
    padding-left: ($default-num * .5) !important
}

.pl-12 {
    padding-left: ($default-num * .75)!important
}

.pl-16 {
    padding-left: $default-num !important
}

.pl-20 {
    padding-left: ($default-num * 1.25) !important
}

.pl-24 {
    padding-left: ($default-num * 1.5) !important
}

.pl-28 {
    padding-left: ($default-num * 1.75) !important
}

.pl-32 {
    padding-left: ($default-num * 2) !important
}

.pl-36 {
    padding-left: ($default-num * 2.25) !important
}

.pl-40 {
    padding-left: ($default-num * 2.5)  !important
}

.pl-44 {
    padding-left: ($default-num * 2.75)  !important
}

.pl-48 {
    padding-left: ($default-num * 3) !important
}

.pl-60 {
    padding-left: ($default-num * 3.75) !important
}