.card {
    display: table;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(35, 49, 56, .06);
    box-shadow: 0 0.0625rem 0.9375rem 0.0625rem rgba(62, 57, 107, .07);
    border-radius: 4px;
}