.jb-df-one-border:before {
    content: "\e978";
}

.jb-df-one:before {
    content: "\e900";
}

.jb-df-ones-border:before {
    content: "\e979";
}

.jb-df-ones:before {
    content: "\e901";
}

.jb-mc-logo {
    display: inline-table;
}

.jb-mc-logo>font:not(:first-child):before {
    margin-left: -3.9462890625em;
}

.jb-mc-logo>font:nth-child(1):before {
    content: "\e902";
}

.jb-mc-logo>font:nth-child(2):before {
    content: "\e903";
}

.jb-mc-logo>font:nth-child(3):before {
    content: "\e904";
}

.jb-mc-logo>font:nth-child(4):before {
    content: "\e905";
}

.jb-mc-logo>font:nth-child(5):before {
    content: "\e906";
}

.jb-mc-logo>font:nth-child(6):before {
    content: "\e907";
}

.logo--xs.logo--xs {
    font-size: 1rem;
}

.logo--sm.logo--sm {
    font-size: 1.5rem;
}

.logo--md.logo--md {
    font-size: 2rem;
}

.logo--lg.logo--lg {
    font-size: 2.5rem;
}

.logo--xlg.logo--xlg {
    font-size: 3rem;
}

.logo--xxlg.logo--xxlg {
    font-size: 4rem;
}